@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    * {
        transition: .3s;
        scroll-behavior: smooth;
    }

    *::-webkit-scrollbar {
        width: .2em;
    }

    *::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px gray;
    }

    *::-webkit-scrollbar-thumb {
        background-color: black;
    }

    .dark *::-webkit-scrollbar-thumb {
        background-color: white;
    }

    .text-stroke {
        -webkit-text-stroke: medium;
    }

    .glowII {
        animation: glowII 5s linear infinite;
    }

    .wave {
        animation: wave-1 10s linear infinite;
        transform-origin: bottom;
    }
    @keyframes wave-1 {
        0%{
            transform: scaleY(.5) scaleX(1);
        }
        20%{
            transform: scaleY(.3) scaleX(1.6);
        }
        40%{
            transform: scaleY(1) scaleX(1.3);
        }
        70%{
            transform: scaleY(.7) scaleX(1);
        }
        90%{
            transform: scaleY(1) scaleX(1.5);
        }
        100%{
            transform: scaleY(.5) scaleX(1);
        }
    }

    @keyframes glowII {
        0% {
            box-shadow: 0 0 0 white;
        }

        50% {
            box-shadow: 0 0 10px white, 0 0 30px white, 0 0 50px white;
        }
    }

    .animate-chakra-spin {
        animation: animateBlob 180s linear alternate infinite;
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
    }

    @keyframes animateBlob {
        0% {
            transform: translateX(-50%) rotate(0) scale(4);
        }

        100% {
            transform: translateX(-50%) rotate(360deg) scale(4);
        }
    }
}