@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    * {
        transition: .3s;
        scroll-behavior: smooth;
    }

    *::-webkit-scrollbar {
        width: .2em;
    }

    *::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px gray;
    }

    *::-webkit-scrollbar-thumb {
        background-color: black;
    }

    .dark *::-webkit-scrollbar-thumb {
        background-color: white;
    }

    /* .title-shadow{
        text-shadow: 0 5px 5px, 5px 0 5px, 10px 10px 10px;
    } */

    .glowII {
        animation: glowII 5s linear infinite;
    }


    @keyframes glowII {
        0% {
            box-shadow: 0 0 0 white;
        }

        50% {
            box-shadow: 0 0 10px white, 0 0 30px white, 0 0 50px white;
        }
    }

    .animate-chakra-spin {
        animation: animateBlob 180s linear alternate infinite;
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    @keyframes animateBlob {
        0% {
            transform: translateX(-50%) rotate(0) scale(4);
        }
        100% {
            transform: translateX(-50%) rotate(360deg) scale(4);
        }
    }
}